<main>
	<p>This website is meant to be something between a chat and a blog post. You talk about stuff you are doing without the expected effort of a blog post, but also without the expected real-time answer of a chatroom.</p>

	<p>Just write a few words (or more if you feel like it) about what you are doing or thinking about doing with D! Don't worry if you talk about something that goes nowhere, this is just a brainstream from the D community.</p>

	<hr />

	<h2>Post your own update</h2>
	<form method="POST" action="/posts">
		<render-template file="signup-snippet.html" />
		<div class="field">
			<label><span>Post</span>
				<textarea name="content"></textarea></label>
		</div>
		<button type="submit">Post</button>
	</form>

	<h2 id="recent-updates">Recent updates</h2>

	<for-each over="data.items" as="post">
		<render-template file="post-snippet.html" />
	</for-each>
	<if-true cond="data.nextPageUrl">
		<a href="<%= data.nextPageUrl %>">Next Page</a>
	</if-true>
</main>
