<main>
	<for-each over="data" as="post">
	<div id="comment-<%=post.id%>" class="post">
		<!-- not using the render-template here since I don't want the comment count. -->
		<b><%= post.author %></b>
		<a class="date obscure" href="<%=post.link%>"><%= post.date %></a>
		<div>
			<%=HTML post.content.rendered %>
		</div>
	</div>
	</for-each>

	<h2>Leave a comment</h2>
	<form method="POST" action="/comments">
		<render-template file="signup-snippet.html" />
		<div class="field">
			<label><span>Comment</span>
				<textarea name="content"></textarea></label>
		</div>
		<button type="submit">Post</button>
		<input type="hidden" name="parentId" value="<%=data[0].id%>" />
	</form>
</main>
