		<if-true cond="user == 0">
			<p>You will be automatically logged in if already registered, or automatically registered if not.</p>
			<p>The registration is just to help search and to give you edit and me a bit of spam control. You should just use a random password you don't mind losing if it leaks; this website is probably not secure. Let your browser remember it for convenience.</p>
			<p>The email address is not currently used but might be later for emailed updates or something. Totally optional.</p>
			<div class="field">
				<label><span>Username:</span>
					<input type="text" name="username" /></label>
			</div>
			<div class="field">
				<label><span>Password:</span>
					<input type="password" name="password" /></label>
			</div>
			<div class="field">
				<label><span>E-mail (optional, leave blank if already registered):</span>
					<input type="email" name="email" /></label>
			</div>
			<div class="field">
				<p>D Programming Language. Put those words in the following box to pass my primitive captcha.</p>
				<label><span>Captcha:</span>
					<input type="text" name="dlang" /></label>
			</div>
		</if-true>

